* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #2D2D2D;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;justify-self: center;
    justify-content: space-around;
}

h1{
    text-align: center;
    color: #fff;
}

.container{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template: repeat(3,1fr)/repeat(4,1fr);
}
.container.no-event{
    pointer-events: none;
}
.card{
    background-color: transparent;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.content{
    position:absolute;
    width: 100%;
    height: 100%;

    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:hover{
    opacity: 0.5;
}

.content.active{
    transform:rotateY(180deg);
    transition: transform 0.5;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #383838;
    font-size: 30px;
    border-radius: 5px;
    backface-visibility: hidden;
    cursor: pointer;
}

.front{
    background:  #777777;
    transform: rotateY(180deg)
}